version: '2.0'
services:
  app:
    build: .
    container_name: urlaubsbot
    restart: always
    depends_on:
    - mongo
    environment:
      - PORT=3000

      - TOKEN=${PROD_TOKEN}
      - HOST=https://urlaubsbot.niklas-schelten.de
      - NODE_ENV=production
    networks:
      - urlaubsbot
      - system-proxy_default

  mongo:
    image: mongo:5.0.6-focal
    restart: always
    volumes:
      - ./data:/data/db
    networks:
      - urlaubsbot

networks:
  urlaubsbot:
    driver: bridge
  system-proxy_default:
    external: true
