.members {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.5em;
}
.member {
  flex-basis: 200px;
  flex-grow: 1;
  margin-bottom: .5em;
  margin-right: .5em;
}
.member table {
  width: 100%;
}
.save {
  cursor: pointer;
}
